.pioenvs/
.pio/
Thumbs.db
.DS_Store
*.orig
embedded/node_modules
embedded/dist
*~
.pio/
.vscode/
.history/
*.pyc
.vs/
Debug/
Release/
*.vsarduino.h
__vm/
*.user
FluidNC.vcxproj
FluidNC.vcxproj.filters
*.suo
packages/
pio_machine.h
platformio_override.ini
project.checksum
version.cpp
esptool*.zip
v*.zip
/FluidNC/data/config.yaml
build/
dist/
*.cppx
*.hx
/compile_commands.json
data-wmb/
*#
/gcode_tests/venv
release/
managed_components/
/FluidNC/lib/*/
/FluidNC/dependencies.lock
experiments/
.cache
