.pioenvs/
.pio/
Thumbs.db
.DS_Store
*.orig
embedded/node_modules
embedded/dist
*~
.pio/
.vscode/
.history/
*.pyc
.vs/
Debug/
Release/
*.vsarduino.h
__vm/
*.user
FluidNC.vcxproj
FluidNC.vcxproj.filters
*.suo
packages/
pio_machine.h
project.checksum
version.cpp
esptool*.zip
v*.zip
/FluidNC/data/config.yaml
build/
dist/
install_scripts/win64/wifi/spiffs.bin
spiffs/spiffs.bin
spiffs/output/config.yaml
FluidNC/src/version.cxx
install_scripts/win64/wifi/spiffs.bin
example_configs/
ava_configs/

