.pioenvs/
.pio/
Thumbs.db
.DS_Store
*.orig
embedded/node_modules
embedded/dist
*~
.pio/
.vscode/
.history/
*.pyc
.vs/
Debug/
Release/
*.vsarduino.h
__vm/
*.user
FluidNC.vcxproj
FluidNC.vcxproj.filters
*.suo
packages/
pio_machine.h
project.checksum
version.cpp
esptool*.zip
v*.zip
/FluidNC/data/config.yaml
